.main-content{
  height: 80vh;
}


.form-content{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 83vw;
  height: 80vh;
  margin-left: 7vw;
  margin-top: 1vw;
  border-radius: 5px;
}
