
<footer id="footer_id">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="menu">
    <li><a href="http://localhost/dhbw/Blubb/index.php">Home</a></li>
    <li><a href="http://localhost/dhbw/Blubb/php/impressum.php">Imprint</a></li>
    <li><a href="http://localhost/dhbw/Blubb/php/datenschutz.php">Private Privacy</a></li>
    <li><a href="http://localhost/dhbw/Blubb/php/forms/contact.php">Contact</a></li>
    <li><a href="http://localhost/dhbw/Blubb/php/newsletter.php">Newsletter</a></li>
  </ul>
  <p>©2023 Blubb | All Rights Reserved</p>
</footer>
