<div class="header">
  <div class="inner_header">
    <div class="logo_container">
      <h1 ><a href="http://localhost/dhbw/Blubb">Blubb</a></h1>
    </div>
    <div class="slogan_container">
      <h1>Your Planning Webside</h1>
    </div>
    <ul class="navigation">
      <li> <a href="http://localhost/dhbw/Blubb"> Home </a></li>
      <li> <a href="http://localhost/dhbw/Blubb/php/calender.php"> Calender </a> </li>
      <li> <a href="http://localhost/dhbw/Blubb/php/konto.php"> Account </a> </li>
      <li> <a href="http://localhost/dhbw/Blubb/php/forms/contact.php"> Contact </a> </li>
      <li> <a rel="stylesheet" href="http://localhost/dhbw/Blubb/php/darkmode.php"> Darkmode </a></li>

    </ul>
  </div>
</div>
